body {
    background-color:#fff;
    color:#555;
    font-family:verdana;
    margin:2em;
}
a{
    color:#00f;
    text-decoration: none;
}
a:hover{
    color:#080;
}
.red {
    color:red;
}
.nolist{
    list-style-type: lower-greek;    
}
