body {
    background-color: white;
    color:#444;
    font-family:verdana;

    .login {
        width:300px;
        margin:0 auto;
        border:none 5px #000000;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        background-color: #eee;
        margin-top:2em;

        &__legend{
            color:red;
            position:relative;
            bottom:.8em;
            text-transform: uppercase
        }
        &__line{
            text-align:center;
            margin:0.5em 0;
        }
        &__label{
            display:inline-block;
            width:50%;
            text-align:left;
        }
        &__input{
            width:50%;
            text-align:left;
        }
        &__message{
            font-size:.7em;
            line-height:.7em;
            text-align:center;
        }
    }
}